<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!--    视口，调整页面适应移动端
                width=device-width：页面宽度与设备宽度一致
                initial-scale=1：初始缩放为1，即不会缩放
                minimum-scale=1：最小缩放比
                maximum-scale=1：最大缩放比
                user-scalable=no：用户自定缩放
        -->
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>宿舍管理系统</title>
		<link href="public/bootstrap/css/bootstrap.css" rel="stylesheet">
		<!--    如下第三方库的JS一般写在head标签中-->
		<script src="js/util/jquery-3.5.1.js"></script>
		<script src="public/bootstrap/js/bootstrap.js"></script>
		<script src="js/util/vue.js"></script>
		<script src="js/common/comp_header.js"></script>
		<script src="js/common/comp_menus.js"></script>
		<script src="js/common/comp_table.js"></script>
		<script src="js/common/comp_pager.js"></script>
		<script src="js/common/mixins_crud.js"></script>
		<script src="js/common/sessionCheck.js"></script>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link href="css/manager.css" rel="stylesheet" />
	</head>
	<body>
		<div id="app" class="container">
			<myheader></myheader>
			<!--    中间内容-->
			<div class="row flex-content">
				<!--        左边菜单开始-->
				<mymenus></mymenus>
				<!--        左边菜单结束-->
				<div class="col-md-9 col-sm-9 col-xs-9" style="flex: 1;margin: 0; padding: 0;">
					<div id="content_div" class="jumbotron">
						<h3>{{menuTitle}}</h3>
						<div class="panel panel-default">
							<div class="panel-heading flex-content">
								<form action="#" id="search_form" class="form-inline">
									<div class="form-group input-group-sm">
										<input type="text" class="form-control" v-model.trim="searchForm.name" placeholder="名称">
									</div>
									<button type="button" class="btn btn-default btn-sm" onclick="doSearch()"><span class="glyphicon glyphicon-search"
										 aria-hidden="true"></span></button>
								</form>
								<div>
									<button type="button" class="btn btn-sm btn-success" @click="doAdd">添加</button>
									<button type="button" class="btn btn-sm btn-danger" @click="doDelBatch()">批量删除</button>
								</div>
							</div>
							<div class="panel-body">
								<!-- 表格区域开始 -->
								<mytable :titles="titles" @select-all="doSelectAll">
									<template>
										<tr v-for="(item, index) in pageData" v-bind:key="index">
											<td><input type="checkbox" name="cb_select" v-model="selectedIds" v-bind:value="item.id"></td>
											<td>{{item.id}}</td>
											<td>
												<span :class="{hidden: (editIndex == index)}">{{item.name}}</span>
												<input type="text" v-model.trim="editItem.name" :class="{hidden: !(editIndex == index)}">
											</td>
											<td>
												<span :class="{hidden: (editIndex == index)}">{{item.intro}}</span>
												<input type="text" v-model.trim="editItem.intro" :class="{hidden: !(editIndex == index)}">
											</td>
											<td>
												{{dormAdminNames(item.id)}}
											</td>
											<td>
												<button class="btn btn-primary" :class="{hidden: (editIndex == index)}" @click="doEdit(index, item)">编辑</button>
												<button class="btn btn-danger" :class="{hidden: (editIndex == index)}" @click="doDel(index, item)">删除</button>
												<button class="btn btn-primary" :class="{hidden: !(editIndex == index)}" @click="doSave(index)">保存</button>
												<button class="btn btn-danger" :class="{hidden: !(editIndex == index)}" @click="doCancel(index)">取消</button>
											</td>
										</tr>
									</template>
								</mytable>
								<!-- 表格区域结束 -->
								<!-- 分页区域开始 -->
								<mypager :page-num="pager.pageNum" :count="searchData.length" @pagenum-change="doPageNumChange"
								 @pagesize-change="doPageSizeChange" :options="[10, 20, 50]"></mypager>
								<!-- 分页区域结束 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/dormsManager/dormsManager.js">

		</script>
	</body>
</html>
