/*
 * @Description: 
 * @Autor:lishuangling 
 * @Date: $
 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.fan {
    margin: 10px auto;
    position: relative;
    width: 200px;
    height: 600px;
    transform-style: preserve-3d;
}
.disk {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px auto 0;
    border: 4px solid black;
    background-image:radial-gradient(circle 100px,black 0,black 20%,white 20%,white 40%,black 40%,black 42%,
    white 42%,white 62%,black 62%,black 64%,white 64%,white 84%,black 84%,black 86%,white 86% );
    border-radius: 50%;
    box-shadow: 0 0 15px 5px #666;
}
.protect {
    position: absolute;
    width: 200px;
    height: 2px;
    background: black;
}
.disk section:nth-child(1) {
    top: 50%;
    margin-top: 1px;
}
.disk section:nth-child(2) {
    top: 50%;
    margin-top: 1px;
    transform: rotate(90deg);
}
.disk section:nth-child(3) {
    top: 50%;
    margin-top: 1px;
    transform: rotate(135deg);
}.disk section:nth-child(4) {
     top: 50%;
     margin-top: 1px;
     transform: rotate(-135deg);
 }
.axis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-1px,-96px);
    width: 10px;
    height: 300px;
    background-color: black;
}
.base {
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px 10px;
    border-radius: 125px;
    background-color: black;
    transform: rotateX(60deg);
}
.trigger {
    width: 50px;
    margin: 10px auto;
}
.trigger li {
    width: 50px;
    height: 25px;
    margin-bottom: 5px;
    background-color: aquamarine;
    overflow: hidden;

}
.switch {
    position: absolute;
    z-index: 2;
    background-color: orange;
    width: 60px;
    height:125px;
    padding: 5px;
    box-sizing: border-box;
}
.switch label {
    display: block;
    width: 100%;
    text-align: center;

}
.trigger input{
    width: 0;
    height: 0;

}
.trigger span{
    display: block;
    float: left;
}
.blade {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 200px;
    height: 200px;
}
.blade-one {
    width: 200px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    transform: translateY(89px);
}
.blade-two {
    width: 200px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    transform: translateY(63px) rotate(90deg);
}
#one:focus~.blade {
    animation: move 1s linear infinite forwards;
}
#two:focus~.blade {
    animation: move 0.6s linear infinite forwards;
}
#three:focus~.blade {
    animation: move 0.4s linear infinite ;
}
#stop:focus~.blade {
    animation-play-state: paused;
}
@keyframes move {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}