*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    background: 
    url('../img/bg/bg-left.png') no-repeat top left/20%,
    url('../img/bg/bg-right.png') no-repeat top right/15%;
    background-color: #F2F2F2;
}
.container{
    background-color: aqua;
}
.container{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}




