* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    // width: 100vw;
    background:
        url('../img/bg/bg-left.png') no-repeat top left/20%,
        url('../img/bg/bg-right.png') no-repeat top right/15%;
    background-color: #F2F2F2;
}

.container {
    margin-top: 10px;

    h3,
    h5 {
        font-weight: bold;
        margin-bottom: 15px;
    }

    h5 {
        font-size: 18px;
    }

}

.top {
    margin: 0 auto;
    padding: 10px 0 10px 245px;
    width: 90%;
}

.top-left {
    width: 250px;

    >span,
    img {
        vertical-align: middle;
        font-size: 22px;
    }
}

.top-right {
    float: right;
    margin-right: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #999;

    ul {
        width: 50%;
        height: 50%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        li {
            height: 3px;
            border-radius: 3px;
            background-color: black;
        }

        >li:nth-of-type(1) {
            width: 100%;
        }

        >li:nth-of-type(2) {
            width: 80%;
        }

        >li:nth-of-type(3) {
            width: 60%;
        }
    }

}

main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 235px;
    min-width: 235px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 10px 1px #999;
    margin-right: 10px;

    figure {
        position: relative;
        background-color: #BFE2E6;
        padding: 20px 0 10px;
        text-align: center;

        .crown {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
        }

        img {
            width: 152px;
            border-radius: 15px 35px;

            &:hover+.crown {
                visibility: visible;
                transform: translate(230%) rotate(360deg);
                transition: 1s;
            }
        }



        figcaption {
            font-weight: bold;
            margin: 10px auto;
        }

        >p:nth-child(3) {
            font-size: 14px;
            margin: 10px auto;
            white-space: nowrap;
        }

        >p:nth-child(4) {
            white-space: nowrap;
            letter-spacing: 0.2em;
        }
    }

    .download {
        display: block;
        width: 60%;
        line-height: 20px;
        margin: 25px auto;
        padding: 5px;
        border: none;
        border-radius: 15px;
        background-color: #BFE2E6;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        text-decoration: none;
    }
}

.resume {
    width: 80%;

    >p {
        text-indent: 2em;
    }


}

.basic {
    padding: 10px 40px;
    background-color: white;
}

.introduction {

    p {
        padding: 25px 0;
        text-indent: 2em;
        font-family: '楷体';
        color: #999;
        line-height: 23px;
        border-bottom: 2px solid #f2f2f2;
    }
}

.information {
    padding: 0 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f2f2f2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 35px;
    color: #999;

    caption {
        font-size: 18px;
    }

    th {
        color: #333;
    }

    .personal {
        width: 50%;
        border-collapse: collapse;

    }

    .languages {
        width: 50%;

        td {
            text-align: right;
        }

        .percentage {
            display: flex;
            justify-content: space-between;

            p {
                width: 14px;
                height: 14px;
                background-color: #BFE2E6;
                border: 1px solid rgb(207, 207, 207);
                border-radius: 50%;

            }

            .percentage-none {
                background-color: #fff;
            }

        }
    }
}

.skills {
    margin: 20px 0;
    padding: 0 0 35px;
    border-bottom: 2px solid #f2f2f2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 35px;
    color: #999;

    table {
        width: 100%;
    }

    caption {
        font-size: 18px;
    }

    td {
        text-align: right;
    }

    th {
        color: #333;
    }

    .skills-progress {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: #BFE2E6;
        background-image: linear-gradient(to right, #BFE2E6 0%, #BFE2E6 90%, #f2f2f2 90%, #f2f2f2 100%);
    }

    .skills-percentage {
        background-image: linear-gradient(to right, #BFE2E6 0%, #BFE2E6 80%, #f2f2f2 80%, #f2f2f2 100%);
    }
}

.perform {
    margin-top: 10px;
    padding: 10px 20px 40px;
    background-color: white;

    nav>ul {
        display: flex;
        justify-content: flex-start;

        li {
            margin-left: 15px;

            a {
                color: #333;
                width: 100%;
                text-decoration: none;
            }
        }

    }
}

// 图片展示
.show-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .show-items {
        width: 49.9%;

        // 轮播
        .carousel {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .mask {
            position: relative;
            width: 100%;

            img {
                width: 100%;
            }

            .img-mask {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.4);
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 1s;
                overflow: hidden;

                p {
                    color: white;
                    font-weight: bold;
                    text-align: center;
                    transform: translateY(-20px);
                    transition: transform 1s;

                }

                .view-more {
                    margin: 0 auto;
                    width: 100px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 15px;
                    background-color: #BFE2E6;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    transform: translateY(30px);
                    transition: transform 1s;


                }
            }

            &:hover .img-mask {
                display: flex;
                opacity: 1;

                p {
                    transform: translateY(40px);

                }

                .view-more {
                    transform: translateY(-30px);

                }
            }

        }
    }
}

.show-carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .mask {
        height: 50%;
    }

    .carousel {
        height: 50%;
    }

}

.swiper {
    --swiper-theme-color: black;
    --swiper-pagination-color: #BFE2E6;
    --swiper-navigation-color: black;
    /* 单独设置按钮颜色 */
    --swiper-navigation-size: 35px;
}

.experience,
.reference,
.blog,
.contact-me {
    margin-top: 10px;
    padding: 10px 40px;
    background-color: white;
}

.work {
    padding-bottom: 30px;

}

.eduction {
    border-top: 2px solid #f2f2f2;
    padding: 20px 0 25px;
}

.work-items {
    display: flex;
    justify-content: space-between;
    width: 100%;


    .work-time {
        position: relative;
        height: 24px;
        width: 160px;
        min-width: 160px;
        line-height: 24px;
        text-align: center;
        padding-right: 10px;
        font-weight: bold;
        background-image: linear-gradient(to right, #BFE2E6 85%, transparent 85%, transparent 100%);

        .tirangle {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-left-color: #BFE2E6;

            .point {
                position: absolute;
                left: 10px;
                top: -2px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: black;

            }
        }
    }

    .work-event {
        width: 80%;
        padding-left: 10px;
        border-left: 2px solid #f2f2f2;

        >div {
            margin: 15px 0;
            height: 13px;

            img {
                height: 100%;
            }
        }

        p {
            color: #999;
            font-size: 13px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
}



.reference-items {
    display: flex;
    justify-content: space-between;
    width: 88%;
    padding: 25px 0;
    border-bottom: 2px solid #f2f2f2;
    margin: 0 auto;

    .reference-left {
        width: 50px;
        margin-right: 10px;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    .reference-right {
        color: #999;
        width: 88%;

        h5 {
            color: #333;
        }

    }

}

.last-items {
    border-bottom: none;
}

.clients {
    border-top: 2px solid #f2f2f2;
    padding-bottom: 30px;
    width: 100%;

    >div {
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        img {
            display: block;
            width: 30%;
        }
    }
}

.blog {
    >p {
        text-align: center;
        color: #999;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    .check {
        display: block;
        width: 200px;
        line-height: 30px;
        margin: 25px auto;
        padding: 5px;
        border: none;
        border-radius: 20px;
        background-color: #BFE2E6;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        text-decoration: none;
    }
}

.contact-content {
    padding: 10px 40px;

    >p {
        letter-spacing: 1em;

        i {
            font-size: 20px;
        }
    }

    h5 {
        font-size: 18px;
    }

    label {
        color: #999;
        font-size: 12px;
    }

    input,
    textarea {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        height: 35px;
        border: none;
        background-color: #F2F2F2;

        &:focus {
            outline: none;
        }
    }

    textarea {
        height: 180px;
    }

    button {
        display: block;
        width: 80px;
        line-height: 22px;
        margin: 25px 0 90px;
        padding: 5px;
        border: none;
        border-radius: 20px;
        background-color: #BFE2E6;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }

}

.copy-right {
    font-weight: bold;
    text-align: center;
    margin: 25px auto;
}

.tools {
    width: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    padding: 40px 0;

    span {
        font-size: 18px;
    }
}

@media screen and (max-width:766px) {
    .top {
        width: 100%;
        background-color: #fff;
        padding: 10px;
    }

    .top-right {
        box-shadow: none;
    }

    .top-left {
        width: 100%;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tools {
        width: 100%;
        height: 20px;
        flex-direction: row;
        order: -1;
        background-color: #F2F2F2;
        margin: 0;
        padding: 20px 0 40px;
    }

    .avatar {
        width: 100%;
        // min-width: 235px;
        // height: 800px;
        background-color: white;
        box-shadow: none;
        margin-right: 0;
        figure {
            img {
                &:hover+.crown {
                    visibility: hidden;
                }
            }
    
    }

    .resume {
        width: 100%;
    }

    .work-items {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        border-left: 2px solid #f2f2f2;

        .work-time {
            transform: rotateZ(180deg);

            span {
                display: inline-block;
                transform: rotateZ(180deg)
            }

        }

        .work-event {
            border: none;
        }

    }

    }
}