*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.practice-one{
    width: 300px;
    margin: 10px auto;
    text-align: center;
}
#comment{
    padding: 5px;
    resize: none;
}
#submit{
    width: 100px;
}
table{
    border-collapse: collapse;
    margin: 10px auto;
}
th{
    background-color: rgb(245, 101, 45);
    width: 200px;
    height: 40px;
    border: 1px solid black;
}
td{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
}
td img{
    width: 150px;
}
td input{
    display: block;
    width: 20px;
    text-align: center;
    background-color: rgb(200, 196, 196);
    border-color: rgb(200, 196, 196);
    cursor: pointer;


}
.quantity{
    width: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
.num{
width: 40px;
outline: none;
border-left: none;
border-right: none;
background-color: white;
cursor: auto;

}
.total{
    margin: 10px auto;
    padding: 0 70px;
    width: 1000px;
    height: 50px;
    background-color: rgb(245, 101, 45);
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;

}
.total div:last-child{
    margin-left: 80px;
}
.container{
    width: 1000px;
    text-align: center;
}
.container li{
    border-bottom: 1px solid peru;
    padding: 10px;
}
.revise{
    background-color: black;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    padding: 0 5px;
}