<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_watch实现</title>
    <script src="../js/vue.js"></script>
    <style>
        *{
            padding:10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <!--
    computed和watch之间的区别：
        1.computed能完成的功能，watch也能完成
        2.watch能完成的功能，computed不一定能完成（例如：watch可以进行异步操作）
    两个重要的小原则：
        1.所被Vue管理的函数，做好写成普通函数，这样this的指向才是vm 或 组件实例对象
        2.所有不被Vue所管理的函数(如：定时器的回调函数、Ajax的回调函数、promise的回调函数)，
        最好都写成箭头函数，这样this的指向才是vm 或 组件实例对象
     -->
    <div id="root">
        姓:<input type="text" v-model="firstName"><br>
        名:<input type="text" v-model="lastName"><br>
        姓名:<span>{{fullName}}</span><br>
    </div>
</body>
<script>
    Vue.config.productionTip=false
    const vm=new Vue({
        el:'#root',
        data(){
            return{
                firstName:'李',
                lastName:'四',
                fullName:'李-四'
            }
        },
        watch:{
            firstName(newValue){
                setTimeout(() => {
                    this.fullName=newValue+'-'+this.lastName
                }, 1000);
                
            },
            lastName(newValue){
                this.fullName=this.firstName+'-'+newValue
            }

        }   
    })
</script>
</html>