.box1 {
    width: 200px;
    height: 200px;
    background-color: deeppink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2 {
    width: 100px;
    height: 100px;
    background-color: deepskyblue;
}
.d1 {
    width: 100px;
    height: 100px;
    background-color: red;
}